<html>
  <body>
    <style>
      body {
        font-family: sans-serif;
      }

      @media print {
          /* Ensure background colors and images are printed */
          * {
              -webkit-print-color-adjust: exact;
              print-color-adjust: exact;
          }
      }

      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
      }

      /* Basic page setup */
      @page {
          size: A4;
          margin: 0;
      }

      .header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
      }

      
      .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1px;
        margin-bottom: 1px
      }

      .grid:not(.header) {
        margin-top:60px
      }

      .grid>div {
        display: grid;
        justify-content: center;
        align-content: center;
        font-weight: bold;
        text-transform: uppercase;
        padding: 20px 30px;
        text-align: center;
        page-break-inside:avoid;
        page-break-afer:auto;
      }

      .grid>div:nth-child(2n) {
        background-color: #79b29f;
      }
      .grid>div:nth-child(2n+1) {
        background-color: #f39440;
      }
      .grid>div:nth-child(4n) {
        background-color: #a758c5;
      }
      .grid>div:nth-child(4n+1) {
        background-color: #f87a7b;
      }
      .grid:not(.header)>div:nth-child(2n) {
        background-color: #aad0c3;
      }
      .grid:not(.header)>div:nth-child(2n+1) {
        background-color: #ffc188;
      }
      .grid:not(.header)>div:nth-child(4n) {
        background-color: #d0a1df;
      }
      .grid:not(.header)>div:nth-child(4n+1) {
        background-color: #f9a5a3
      }
    </style>
    <div class="grid header">
      {% for flatmate in header %}
        <div>
          {{ flatmate }}
        </div>
      {% endfor%}
    </div>
    <div class="grid">
      {% for week in schedule %}
        <div>
          Semana {{loop.index}}
        </div>
        {% for task in week %}
          <div>{{ task }}</div>
        {% endfor %}
      {% endfor %}
    </div>
  </body>
</html>
